<!--
title: Form
description: 
published: true
date: 2022-04-21T06:43:42.514Z
tags: 
editor: ckeditor
dateCreated: 2022-04-21T05:35:39.687Z
-->

<h2>Описание</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Список известных проблем</h2>
<h3>1. Перерисовка содержимого формы и едиторов.</h3>
<p>Форма при любых изменениях в айтемах группы, перерисовывает всю группу. Список связанных сценариев и возможных WA находится в этой <a href="https://trello.com/c/khOAYsaG/1243-form-do-not-re-render-form">карточке</a>&nbsp;</p>
<p>&nbsp;</p>
<h3>2. Опции isRequred/ValidationRules не работают в темплейтах</h3>
<p>Это поведение by-design, так как форма ничего не знает о содержимом внутри темплейтов. Список сценариев и WA содержится в <a href="https://trello.com/c/ebyrqxOS/1242-form-itemisrequired-itemvalidationrules-dont-work-for-templated-items">картосе</a></p>
